.listen-options-card {
  width: 80% !important;
  min-height: 400px !important;
  margin-left: auto;
  margin-right: auto;
}

.listen-options-card-syllable-header {
  height: 130px;
  background-color: #0288d1;
  box-sizing: border-box;
}

.listen-options-card-syllable {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.buttons-container {
  margin-top: 40px;
  text-align: center;
  box-sizing: border-box;
}

.listen-options-button-check-container {
  text-align: center;
}

.listen-options-victory-plate {
  height: 100%;
  font-size: 40px;
  font-weight: bold;
}