.snake-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 60vh; 
  outline: hidden;
}

.snake-game-list-of-words {
  top:5px;
  left: 5px;
  position: absolute;
}

.snake-game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: absolute;
  width: 200px;
  height: 200px;
  font-weight: bold;
  color: azure;
  box-sizing: border-box;
  background-color: lawngreen;
  border-radius: 5px;
  z-index: 999;
}