.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 768px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #fef8eb;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(232, 208, 232, 1);
  -moz-box-shadow: 0px 0px 13px 2px rgba(232, 208, 232, 1);
  box-shadow: 0px 0px 13px 2px rgba(232, 208, 232, 1);
  border-radius: 18px;
}

.flexbox .board {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #28151E;
  padding: 15px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-shadow: -5px 0px 3px -2px rgba(46, 33, 46, 1);
  -moz-box-shadow: -5px 0px 3px -2px rgba(46, 33, 46, 1);
  box-shadow: -5px 0px 3px -2px rgba(46, 33, 46, 1);
  border-radius: 3px;
}

.flexbox .card {
  display: flex;
  padding: 5px 5px;
  background-color: #f3f3f3;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 3px;
}

.plate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60px;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 3px;
}
