.hero-c {
  background-color: #fff4e6;
  background-image: url("./images/stp-bck.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.hero-blog-bck-img {
  background-color: #fff4e6;
  background-size: cover;
}

.level {
  padding: 30px;
}

.level-item {
  padding: 30px;
}

.service-title {
  min-width: 30px;
  margin: 0 auto;
}

.heading img {
  width: 50px;
}

.services-title {
  font-family: "Caveat Brush", cursive;
}

.service-columns {
  padding: 60px;
}

.featured-flowers {
  min-height: 300px;
  padding: 100px;
}

.featured-flowers-center {
  min-width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.carousel-column {
  display: flex;
  justify-content: center;
}

.carousel-container {
  max-width: 400px;
  min-height: 400px;
  margin-top: 100px;
}

.info-column {
  display: flex;
  justify-content: center;
}

.single-flower-info-container {
  width: 400px;
  min-height: 400px;
  margin-top: 100px;
}

.tag-available {
  position: absolute;
  z-index: 10;
  left: 5px;
  top: 5px;
}

.footer-city-list,
.footer-services-list {
  list-style-type: none !important;
  margin-left: 0 !important;
}

.footer-sm-img {
  width: 20px;
}

.footer-sm-wrapper {
  width: 40%;
  margin: 0 auto;
}

.primary-title,
.secondary-title {
  font-family: "Crimson Text", serif;
}

a {
  color: black;
}

.loading {
  margin: 0 auto;
  width: 100px;
}

.single-blog-container {
  margin-top: 50px;
  padding: 50px;
}

.single-blog-header {
  margin-bottom: 50px;
}

.main-picture-container {
  margin-bottom: 50px;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.newSection {
  padding: 100px;
}

td {
  cursor: pointer;
}

.listen-options-card {
  width:80% !important;
  min-height:400px !important;
  margin-left: auto;
  margin-right: auto;
}

.listen-options-card-syllable-header {
  height: 130px;
  background-color:#0288D1;
  box-sizing: border-box;
}

.listen-options-card-syllable {
  font-size:80px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.buttons-container {
  margin-top: 40px;
  text-align: center;
  box-sizing: border-box;

}

.listen-options-button-check-container {
  text-align: center;
}


.listen-options-victory-plate {
  height: 100%;
  font-size: 40px;
  font-weight: bold;
}

.input-placeholder {
  display: flex;
}

.letter-span {
  width:30px;
  height: 30px;
  border: 1px solid black;
}


@media screen and (max-width: 768px) {
  .hero {
    min-height: 300px;
    align-items: center;
  }

  .featured-flowers {
    padding: 50px;
  }

  .hero-title {
    margin-top: 40px;
  }
}

@media screen and (max-width: 375px) {
  .featured-flowers {
    padding: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .featured-flowers {
    padding: 50px;
  }
}

@media screen and (max-width: 414px) {
  .featured-flowers {
    padding: 50px;
  }
}


