.hero-c {
  background-color: #fff4e6;
  background-image: url("./images/stp-bck.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.hero-blog-bck-img {
  background-color: #fff4e6;
  background-size: cover;
}

.level {
  padding: 30px;
}

.level-item {
  padding: 30px;
}

.service-title {
  min-width: 30px;
  margin: 0 auto;
}

.heading img {
  width: 50px;
}

.services-title {
  font-family: "Caveat Brush", cursive;
}

.service-columns {
  padding: 60px;
}

.featured-flowers {
  min-height: 300px;
  padding: 100px;
}

.featured-flowers-center {
  min-width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.carousel-column {
  display: flex;
  justify-content: center;
}

.carousel-container {
  max-width: 400px;
  min-height: 400px;
  margin-top: 100px;
}

.info-column {
  display: flex;
  justify-content: center;
}

.single-flower-info-container {
  width: 400px;
  min-height: 400px;
  margin-top: 100px;
}

.tag-available {
  position: absolute;
  z-index: 10;
  left: 5px;
  top: 5px;
}

.footer-city-list,
.footer-services-list {
  list-style-type: none !important;
  margin-left: 0 !important;
}

.footer-sm-img {
  width: 20px;
}

.footer-sm-wrapper {
  width: 40%;
  margin: 0 auto;
}

.primary-title,
.secondary-title {
  font-family: "Crimson Text", serif;
}

a {
  color: black;
}

.loading {
  margin: 0 auto;
  width: 100px;
}

.single-blog-container {
  margin-top: 50px;
  padding: 50px;
}

.single-blog-header {
  margin-bottom: 50px;
}

.main-picture-container {
  margin-bottom: 50px;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.newSection {
  padding: 100px;
}

td {
  cursor: pointer;
}

.listen-options-card {
  width: 80% !important;
  min-height: 400px !important;
  margin-left: auto;
  margin-right: auto;
}

.listen-options-card-syllable-header {
  height: 130px;
  background-color: #0288d1;
  box-sizing: border-box;
}

.listen-options-card-syllable {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.buttons-container {
  margin-top: 40px;
  text-align: center;
  box-sizing: border-box;
}

.listen-options-button-check-container {
  text-align: center;
}

.listen-options-victory-plate {
  height: 100%;
  font-size: 40px;
  font-weight: bold;
}

.input-placeholder {
  display: flex;
}

.letter-span {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.mtwp-card-container {
  width: 60%;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.mtwp-winner-title {
  text-align: center;
  margin-top: 50%;
  font-size: 50px;
  color: green;
  font-weight: 800;
}

.mtwp-winner-button {
  margin-top: 20px;
}

.scramble-words-activity-image {
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 300px;
    align-items: center;
  }

  .featured-flowers {
    padding: 50px;
  }

  .hero-title {
    margin-top: 40px;
  }
}

@media screen and (max-width: 375px) {
  .featured-flowers {
    padding: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .featured-flowers {
    padding: 50px;
  }
}

@media screen and (max-width: 414px) {
  .featured-flowers {
    padding: 50px;
  }
}
